[submodule "LinkedSV"]
	path = LinkedSV
	url = https://github.com/d3b-center/LinkedSV
[submodule "d3b_bic-seq2"]
	path = d3b_bic-seq2
	url = https://github.com/d3b-center/d3b_bic-seq2
[submodule "codex2"]
	path = codex2
	url = https://github.com/d3b-center/codex2
[submodule "kfdrc_sanger_tools"]
	path = kfdrc_sanger_tools
	url = https://github.com/d3b-center/kfdrc_sanger_tools
[submodule "canvas_cnv"]
	path = canvas_cnv
	url = https://github.com/d3b-center/canvas_cnv
[submodule "fusion_filtering_pipeline"]
	path = fusion_filtering_pipeline
	url = https://github.com/d3b-center/fusion_filtering_pipeline
[submodule "annotSV"]
	path = annotSV
	url = https://github.com/d3b-center/annotSV.git
